@{
    ViewBag.Title = "Home Page";
}
    <div>
        @*@Html.ActionLink("List of Drivers", "Index", "Drivers")<br />
        @Html.ActionLink("List of Riders", "Index", "Riders")<br />
        @Html.ActionLink("List of Orders", "Index", "Orders")*@
    </div>